//General parameters

params.fastq_files1 = "/home/stage/Documents/Sarani/Pipeline_trial/data/ERR8774458_1.fastq.gz" 
params.fastq_files2 = "/home/stage/Documents/Sarani/Pipeline_trial/data/ERR8774458_2.fastq.gz"
params.reference = "/home/stage/Documents/Sarani/Pipeline_trial/data/Reference.fasta"
params.outdir = "/home/stage/Documents/Sarani/Pipeline_trial"
